html {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: 0 auto;
  min-height: 100vh;
  box-shadow: 0 0 50px #000;
  background-color: #1e1f22;
  min-width: 100vw;
}

i {
  color: #b9b9b9;
  font-style: normal;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 0.5em;
  padding-bottom: 0.47em;
  background-color: #454545;
  margin-top: 0;
  margin-bottom: 0;
  cursor: default;
}

.nav-item a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em;
}

.navigation-list:first-child {
  padding-left: 1.5em;
}

.nav-item.active a {
  background-color: white;
}

.nav-item:not(.active) a:hover {
  background-color: #6c6c6c;
}

#content {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > *:not(:last-child) {
  padding-right: 10em;
}

.detail {
  margin-left: 2em;
  color: #b9b9b9;
}

.profile-list {
  padding: 0
}

.profile-link {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #b9b9b9;
  font-style: normal;
}

.detail > * a:hover {
  text-decoration: underline;
}

html, body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

#sidebar {
  width: 22rem;
  background-color: #606060;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2.5em);
}

#sidebar > * {
  padding-left: 2rem;
  padding-right: 2rem;
}

#sidebar nav {
  flex: 1;
  overflow: auto;
  padding-top: 1rem;
}

#sidebar i {
  color: #e8e8e8;
}

#sidebar nav .active i {
  color: inherit;
}

#sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar li {
  margin: 0.25rem 0;
}

#sidebar nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;

  white-space: pre;
  padding: 0.5rem;
  border-radius: 8px;
  text-decoration: none;
  gap: 1rem;
}

#sidebar nav a:hover {
  background: #575757;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
